## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Okhotsk,RU,59.3833,143.3000,14.09,88,100,23.35,overcast clouds
1,1,Jamestown,US,42.0970,-79.2353,21.00,86,90,9.22,light snow
2,2,Ushuaia,AR,-54.8000,-68.3000,57.20,54,20,14.97,few clouds
3,3,Sunbury,AU,-37.5833,144.7333,57.20,62,75,10.36,broken clouds
4,4,Marovoay,MG,-16.1000,46.6333,80.60,83,40,6.91,moderate rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Marovoay,MG,-16.1000,46.6333,80.60,83,40,6.91,moderate rain
6,6,Nouadhibou,MR,20.9310,-17.0347,75.20,33,0,16.11,clear sky
7,7,Puerto Ayora,EC,-0.7393,-90.3518,80.60,78,0,12.66,clear sky
10,10,Rikitea,PF,-23.1203,-134.9692,77.20,73,95,11.45,light rain
19,19,San Policarpo,PH,12.1791,125.5072,80.29,84,100,18.14,overcast clouds
22,22,Pangkalanbuun,ID,-2.6833,111.6167,75.18,96,92,2.91,moderate rain
31,31,Atar,MR,20.5169,-13.0499,76.46,19,0,18.10,clear sky
32,32,Padang,ID,-0.9492,100.3543,80.60,89,20,2.30,few clouds
33,33,Ndende,GA,-2.4008,11.3581,87.80,62,90,6.91,light rain
35,35,Atuona,PF,-9.8000,-139.0333,79.03,76,38,21.05,scattered clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                212
City                   212
Country                211
Lat                    212
Lng                    212
Max Temp               212
Humidity               212
Cloudiness             212
Wind Speed             212
Current Description    212
dtype: int64

In [8]:
preferred_cities_df.count()

City_ID                212
City                   212
Country                211
Lat                    212
Lng                    212
Max Temp               212
Humidity               212
Cloudiness             212
Wind Speed             212
Current Description    212
dtype: int64

In [9]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Marovoay,MG,-16.1000,46.6333,80.60,83,40,6.91,moderate rain
6,6,Nouadhibou,MR,20.9310,-17.0347,75.20,33,0,16.11,clear sky
7,7,Puerto Ayora,EC,-0.7393,-90.3518,80.60,78,0,12.66,clear sky
10,10,Rikitea,PF,-23.1203,-134.9692,77.20,73,95,11.45,light rain
19,19,San Policarpo,PH,12.1791,125.5072,80.29,84,100,18.14,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Conde,BR,-7.2597,-34.9075,87.80,62,75,12.66,broken clouds
677,677,Camana,PE,-16.6228,-72.7111,76.86,68,85,9.44,overcast clouds
680,680,Bongandanga,CD,1.5000,21.0500,89.22,33,48,2.26,scattered clouds
688,688,The Valley,AI,18.2170,-63.0578,82.40,69,40,19.57,scattered clouds
691,691,Kismayo,SO,-0.3582,42.5454,77.61,80,8,17.67,clear sky

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Marovoay,MG,80.60,moderate rain,-16.1000,46.6333,
6,Nouadhibou,MR,75.20,clear sky,20.9310,-17.0347,
7,Puerto Ayora,EC,80.60,clear sky,-0.7393,-90.3518,
10,Rikitea,PF,77.20,light rain,-23.1203,-134.9692,
19,San Policarpo,PH,80.29,overcast clouds,12.1791,125.5072,
22,Pangkalanbuun,ID,75.18,moderate rain,-2.6833,111.6167,
31,Atar,MR,76.46,clear sky,20.5169,-13.0499,
32,Padang,ID,80.60,few clouds,-0.9492,100.3543,
33,Ndende,GA,87.80,light rain,-2.4008,11.3581,
35,Atuona,PF,79.03,scattered clouds,-9.8000,-139.0333,

In [12]:
len(hotel_df)

212

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
     # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        
        print("Hotel not found... skipping.")

In [27]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Marovoay,MG,80.60,moderate rain,-16.1000,46.6333,Marovoay
6,Nouadhibou,MR,75.20,clear sky,20.9310,-17.0347,Nouadhibou
7,Puerto Ayora,EC,80.60,clear sky,-0.7393,-90.3518,Puerto Ayora
10,Rikitea,PF,77.20,light rain,-23.1203,-134.9692,Rikitea
19,San Policarpo,PH,80.29,overcast clouds,12.1791,125.5072,Oras

In [30]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info= [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Deliverable 2 finish