## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.70,light rain,3.0707,172.7902,NaN
1,10,Ancud,CL,75.20,clear sky,-41.8697,-73.8203,NaN
2,12,Atuona,PF,79.16,light rain,-9.8000,-139.0333,NaN
3,16,Alofi,NU,78.80,light rain,-19.0595,-169.9187,NaN
4,17,Vaini,TO,84.20,broken clouds,-21.2000,-175.2000,NaN

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Trip into MEXICO.
# Grab the first hotel from the results and store the name.
mexico_vacation_df = vacation_df.loc[(vacation_df["Country"] == "MX")]
mexico_vacation_df.dropna()

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [7]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]
mexico_vacation_df = mexico_vacation_df[new_column_order]
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
9,32,Cabo San Lucas,MX,22.8909,-109.9124,80.60,few clouds
68,272,Tomatlan,MX,19.9333,-105.2500,78.49,clear sky
81,309,Tecoanapa,MX,16.5167,-98.7500,80.58,few clouds
87,322,Isla Mujeres,MX,21.2311,-86.7310,79.00,scattered clouds
92,343,Lazaro Cardenas,MX,17.9583,-102.2000,79.00,clear sky
96,359,Fresnillo,MX,23.1667,-102.8833,75.20,clear sky
116,427,San Blas,MX,21.5167,-105.2667,77.00,clear sky
134,472,Ixtapa,MX,20.7000,-105.2000,75.20,clear sky
143,530,General Cepeda,MX,25.3833,-101.4500,77.00,clear sky
145,533,Tecolutla,MX,20.4833,-97.0167,78.80,clear sky
186,681,Mazatan,MX,14.8667,-92.4500,80.60,clear sky

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from MX List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MX List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MX List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from MX List you would like for your trip? "))
end = float(input("What is your Last City_ID from MX List you would like for your trip? "))

What is your Starting City_ID from MX List you would like for your trip? 427
What is your First Stop City_ID from MX List you would like for your trip? 272
What is your Second Stop City_ID from MX List you would like for your trip? 343
What is your Thirth Stop City_ID from MX List you would like for your trip? 359
What is your Last City_ID from MX List you would like for your trip? 427

In [9]:
# Start Vacation at:

vacation_start = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your First Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is Tomatlan, MX
Your First Stop is Lazaro Cardenas, MX
Your Second Stop is Fresnillo, MX
Your Thirth Stop is San Blas, MX
Your Last Stop in your vacation is Cabo San Lucas, MX

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat"]].to_numpy()[0], vacation_start[[ "Lng"]].to_numpy()[0]
end = vacation_end[["Lat"]].to_numpy()[0], vacation_end[[ "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat"]].to_numpy()[0], vacation_stop1[[ "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat"]].to_numpy()[0], vacation_stop2[[ "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat"]].to_numpy()[0], vacation_stop3[[ "Lng"]].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(19.9333, -105.25)
(22.8909, -109.9124)
(17.9583, -102.2)
(23.1667, -102.8833)
(21.5167, -105.2667)

In [16]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.70,light rain,3.0707,172.7902,NaN
1,10,Ancud,CL,75.20,clear sky,-41.8697,-73.8203,NaN
2,12,Atuona,PF,79.16,light rain,-9.8000,-139.0333,NaN
3,16,Alofi,NU,78.80,light rain,-19.0595,-169.9187,NaN
4,17,Vaini,TO,84.20,broken clouds,-21.2000,-175.2000,NaN

In [17]:

# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (19.93, -105.25)
stop1 = (17.95, -102.2)
stop2 = (23.16, -102.88)
stop3 = (21.51, -105.26)
end = (19.93, -105.25)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:

# 8. To create a marker layer map between the cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

mexico_vacation_df = pd.concat([mexico_vacation_df],ignore_index=True)
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,32,Cabo San Lucas,MX,22.8909,-109.9124,80.60,few clouds
1,272,Tomatlan,MX,19.9333,-105.2500,78.49,clear sky
2,309,Tecoanapa,MX,16.5167,-98.7500,80.58,few clouds
3,322,Isla Mujeres,MX,21.2311,-86.7310,79.00,scattered clouds
4,343,Lazaro Cardenas,MX,17.9583,-102.2000,79.00,clear sky
5,359,Fresnillo,MX,23.1667,-102.8833,75.20,clear sky
6,427,San Blas,MX,21.5167,-105.2667,77.00,clear sky
7,472,Ixtapa,MX,20.7000,-105.2000,75.20,clear sky
8,530,General Cepeda,MX,25.3833,-101.4500,77.00,clear sky
9,533,Tecolutla,MX,20.4833,-97.0167,78.80,clear sky
10,681,Mazatan,MX,14.8667,-92.4500,80.60,clear sky

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in mexico_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mexico_vacation_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
city_mark = mexico_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Deliverable 3 finish